.category{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px 10px;

  &__title {
    font-size: 38px;
    margin-bottom: 25px;
    text-align: center;
    text-transform: uppercase;
  }
}