.cart-icon__container {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .cart-icon__image {
    width: 24px;
    height: 24px;
  }

  .cart-icon__count {
    position: absolute;
    font-size: 10px;
    font-weight: 700;
    bottom: 12px;
  }
}
