*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --color-black: #000;
  --color-white: #fff;
  --color-gray: #4a4a4a;
  --color-dark-gray: #a9a9a9;
  --color-blue-1: #4285f4;
  --color-blue-2: #357ae8;
}

html {
  font-size: 62.5%;
}

body {
  font: 400 16px/1.4 "Open Sans",sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

.body__container {
  padding: 20px 40px;
}